body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-color: white;
	color: lightgray;
	overflow: hidden;
}

canvas {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

.container {
	position: absolute;
	left: 27%;
	top: 30%;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	/* color: white; */
	/* outline: 1px solid black; */
	/* width: 30vw; */
}

.navigation {
	display: flex;
	padding: 0;
	margin: 0;
	flex-direction: row;
}

.navigation div {
	outline: 1px solid black;
	padding: 5px 10px;
	width: fit-content;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 1px;
}

.active {
	color: black;
}

.audio {
	position: absolute;
	top: 30%;
	left: 15%;
	display: none;
}

@media (max-width: 900px) {
	.container {
		outline: none;
		left: 0%;
		top: 80%;
		/* transform: translate(-50%, -50%); */
	}
}
.loader {
	position: absolute;
	background-color: white;
	z-index: 3;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.lds-dual-ring {
	display: inline-block;
	width: 80px;
	height: 80px;
}
.lds-dual-ring:after {
	content: ' ';
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #000;
	border-color: #000 transparent #000 transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
